@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

/* .outline-text:not(.no-outline) {
    color: rgb(51, 73, 109);
    text-shadow: -0.05vw -0.05vw 0 #e2e8f0, 0.05vw -0.05vw 0 #e2e8f0, -0.05vw 0.05vw 0 #e2e8f0, 0.05vw 0.05vw 0 #e2e8f0, 0 0 .5vw #e2e8f0;
} */