@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Bebas Neue', cursive;
}

/* .outline-text:not(.no-outline) {
    color: rgb(51, 73, 109);
    text-shadow: -0.05vw -0.05vw 0 #e2e8f0, 0.05vw -0.05vw 0 #e2e8f0, -0.05vw 0.05vw 0 #e2e8f0, 0.05vw 0.05vw 0 #e2e8f0, 0 0 .5vw #e2e8f0;
} */